In [1]:
import pandas as pd

In [2]:
dfPedidos = pd.read_csv("../ficheros_curso/merge/Pedidos.txt", sep=';')
dfPedidos.head()

   idpedido cliente  idempleado  idempresa  importe       pais
0     10248   WILMK           5          3    32.38  Finlandia
1     10249   TOMSP           6          1    11.61   Alemania
2     10250   HANAR           4          2    65.83     Brasil
3     10251   VICTE           3          1    41.34    Francia
4     10252   SUPRD           4          2    51.30    Belgica

In [3]:
dfPedidos.tail(3)

     idpedido cliente  idempleado  idempresa  importe            pais
827     11075   RICSU           8          2     6.19           Suiza
828     11076   BONAP           4          2    38.28         Francia
829     11077   RATTC           1          2     8.53  Estados Unidos

In [4]:
dfPedidos.shape

(830, 6)