## Limpieza de ficheros con pandas

Limpiar las columnas y convertir tipos de datos de los ficheros de huracanes. Realizar un estudio de correlación entre el viento y la presión.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../ficheros_curso/csv/IRMA.csv", sep=";")
df.head()

,Date,Time,Lat,Lon,Wind,Pressure,Storm Type,Category
0,Aug 30,15:00 GMT,16.4°,-30.3°,50 mph,1004 mb,Tropical Storm,-
1,Aug 30,21:00 GMT,16.4°,-31.2°,60 mph,1001 mb,Tropical Storm,-
2,Aug 31,03:00 GMT,16.4°,-32.2°,65 mph,999 mb,Tropical Storm,-
3,Aug 31,09:00 GMT,16.5°,-32.9°,70 mph,997 mb,Tropical Storm,-
4,Aug 31,15:00 GMT,16.9°,-33.8°,100 mph,979 mb,Hurricane,2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         130 non-null    object
 1   Time         130 non-null    object
 2   Lat          130 non-null    object
 3   Lon          130 non-null    object
 4   Wind         130 non-null    object
 5   Pressure     130 non-null    object
 6   Storm Type   130 non-null    object
 7   Category     130 non-null    object
dtypes: object(8)
memory usage: 8.2+ KB