### Cambios de tipo en cols de un DataFrame. Estudio de la correlación de dos variables

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../ficheros_curso/csv/MARIA.csv", sep=';')
df.head()

,Date,Time,Lat,Lon,Wind,Pressure,Storm Type,Category
0,sep-16,15:00 GMT,12.2º,-50.5°,35 mph,1008 mb,Potential Tropical Cyclone,-
1,sep-16,18:00 GMT,11.9º,-51.6°,35 mph,1006 mb,Tropical Depression,-
2,sep-16,21:00 GMT,12.3º,-52.6°,50 mph,1002 mb,Tropical Storm,-
3,sep-17,00:00 GMT,12.4°,-53.0°,50 mph,1002 mb,Tropical Storm,-
4,sep-17,03:00 GMT,12.5°,-53.7°,50 mph,1002 mb,Tropical Storm,-

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         120 non-null    object
 1   Time         120 non-null    object
 2   Lat          120 non-null    object
 3   Lon          120 non-null    object
 4   Wind         120 non-null    object
 5   Pressure     120 non-null    object
 6   Storm Type   120 non-null    object
 7   Category     120 non-null    object
dtypes: object(8)
memory usage: 7.6+ KB

In [5]:
df.columns = [col.strip() for col in df.columns]
df.columns

Index(['Date', 'Time', 'Lat', 'Lon', 'Wind', 'Pressure', 'Storm Type',
       'Category'],
      dtype='object')

In [ ]:
df['Lat'] = pd.to_numeric(df.Lat.str[:-1], downcast='float')
df['Lon'] = pd.to_numeric(df.Lon.str[:-1], downcast='float')
df.info()