In [1]:
import pandas as pd

In [2]:
dfPedidos = pd.read_csv("../ficheros_curso/merge/Pedidos.txt", sep=';')
dfPedidos.head()

   idpedido cliente  idempleado  idempresa  importe       pais
0     10248   WILMK           5          3    32.38  Finlandia
1     10249   TOMSP           6          1    11.61   Alemania
2     10250   HANAR           4          2    65.83     Brasil
3     10251   VICTE           3          1    41.34    Francia
4     10252   SUPRD           4          2    51.30    Belgica

In [3]:
dfPedidos.tail(3)

     idpedido cliente  idempleado  idempresa  importe            pais
827     11075   RICSU           8          2     6.19           Suiza
828     11076   BONAP           4          2    38.28         Francia
829     11077   RATTC           1          2     8.53  Estados Unidos

In [4]:
dfPedidos.shape

(830, 6)

In [5]:
dfPedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   idpedido    830 non-null    int64
 1   cliente     830 non-null    object
 2   idempleado  830 non-null    int64
 3   idempresa   830 non-null    int64
 4   importe     830 non-null    float64
 5   pais        830 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 39.0+ KB

In [6]:
dfPedidos.describe()

           idpedido  idempleado   idempresa      importe
count    830.000000  830.000000  830.000000   830.000000
mean   10662.500000    4.403614    2.008434    78.244205
std      239.744656    2.499648    0.778899   116.779294
min    10248.000000    1.000000    1.000000     0.020000
25%    10455.250000    2.000000    1.000000    13.380000
50%    10662.500000    4.000000    2.000000    41.360000
75%    10869.750000    7.000000    3.000000    91.430000
max    11077.000000    9.000000    3.000000  1007.640000