### Pruebas con la librerÃ­a pandas

#### Objeto Series

In [27]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
from random import randint

In [19]:
s1 = Series([1,5,6,4,1])
s2 = Series([10,20,40,55,4], index=list('adios'))

In [3]:
s1

0    1
1    5
2    6
3    4
4    1
dtype: int64

In [4]:
s2

a    10
d    20
i    40
o    55
s     4
dtype: int64

In [5]:
print(s2['a'])
print(s2[0])

10
10

In [6]:
s2 > 30

a    False
d    False
i     True
o     True
s    False
dtype: bool

In [7]:
s2[s2 > 30]

i    40
o    55
dtype: int64

In [8]:
s2[['a','i','o']]

a    10
i    40
o    55
dtype: int64

In [9]:
np.sum(s2)

129

In [10]:
(s2 > 30).sum()

2

In [11]:
s2[s2 > 30] = 30
s2

a    10
d    20
i    30
o    30
s     4
dtype: int64

In [12]:
s3 = Series((12,3,5,6,7), index=list('aeiou'))
s3

a    12
e     3
i     5
o     6
u     7
dtype: int64

In [13]:
resul = s2 + s3
resul

a    22.0
d     NaN
e     NaN
i    35.0
o    36.0
s     NaN
u     NaN
dtype: float64

In [14]:
resul2 = s2.add(s3, fill_value=0)
resul2

a    22.0
d    20.0
e     3.0
i    35.0
o    36.0
s     4.0
u     7.0
dtype: float64

In [15]:
resul3 = s1.add(s2, fill_value=0)
resul3

0     1.0
1     5.0
2     6.0
3     4.0
4     1.0
a    10.0
d    20.0
i    30.0
o    30.0
s     4.0
dtype: float64

In [23]:
s2 = s2.reset_index(drop=True) # Ojo si no borramos devuelve el dataframe.
# s2.reset_index(inplace=True)

In [24]:
type(s2)

pandas.core.series.Series

In [25]:
s2

0    10
1    20
2    40
3    55
4     4
dtype: int64

#### DataFrame

In [26]:
df1 = DataFrame(np.arange(25).reshape(5,5))
df1

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [33]:
d = {letra:[randint(1,10) for _ in range(6)] for letra in "ABCDE"}
d

{'A': [7, 6, 8, 6, 8, 6],
 'B': [5, 1, 1, 1, 9, 9],
 'C': [1, 8, 1, 4, 2, 4],
 'D': [1, 1, 2, 8, 1, 8],
 'E': [8, 10, 6, 8, 7, 8]}

In [34]:
df2 = DataFrame(d)
df2

   A  B  C  D   E
0  7  5  1  1   8
1  6  1  8  1  10
2  8  1  1  2   6
3  6  1  4  8   8
4  8  9  2  1   7
5  6  9  4  8   8

In [35]:
df2["A"]

0    7
1    6
2    8
3    6
4    8
5    6
Name: A, dtype: int64

In [36]:
df2.A

0    7
1    6
2    8
3    6
4    8
5    6
Name: A, dtype: int64

In [37]:
df2.loc[0]

A    7
B    5
C    1
D    1
E    8
Name: 0, dtype: int64

In [38]:
print(df2['A'][0])
print(df2.loc[0]['A'])

7
7