### Pruebas con pandas: Series y DataFrame

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

#### Objeto Series

In [12]:
s1 = Series(np.arange(10,21,2))
s2 = Series(range(5), index=list("abcde"))

In [13]:
print(s1)

0    10
1    12
2    14
3    16
4    18
5    20
dtype: int32

In [14]:
s2

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [9]:
print(s2['a'])
print(s2[0])

0
0

C:\Users\Anton\AppData\Local\Temp\ipykernel_13108\2148135950.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s2[0])

In [15]:
s2[['a','d','e']]

a    0
d    3
e    4
dtype: int64

In [16]:
s2 > 2

a    False
b    False
c    False
d     True
e     True
dtype: bool

In [17]:
s3 = Series(range(10,15), index=list('aeiou'))
s3

a    10
e    11
i    12
o    13
u    14
dtype: int64

In [29]:
suma = s2 + s3
suma

a    10.0
b     NaN
c     NaN
d     NaN
e    15.0
i     NaN
o     NaN
u     NaN
dtype: float64

In [30]:
suma.isnull()

a    False
b     True
c     True
d     True
e    False
i     True
o     True
u     True
dtype: bool

In [20]:
total = s2.add(s3, fill_value=0)
total

a    10.0
b     1.0
c     2.0
d     3.0
e    15.0
i    12.0
o    13.0
u    14.0
dtype: float64

In [21]:
total[total < 10]

b    1.0
c    2.0
d    3.0
dtype: float64

In [22]:
(total < 10).sum()

3

In [23]:
total.sum()

70.0

In [24]:
total[total < 10] = 10
total

a    10.0
b    10.0
c    10.0
d    10.0
e    15.0
i    12.0
o    13.0
u    14.0
dtype: float64

In [26]:
np.maximum(s2.values, s3.values)

array([10, 11, 12, 13, 14], dtype=int64)

In [27]:
dicc = {clave:valor for valor, clave in enumerate("abcbde")}
dicc

{'a': 0, 'b': 3, 'c': 2, 'd': 4, 'e': 5}

In [28]:
s4 = Series(dicc)
s4

a    0
b    3
c    2
d    4
e    5
dtype: int64

#### DataFrame

In [31]:
# Crear un dataframe con un dict
d = {clave: np.random.randint(0,10,8) for clave in "abcde"}
df = DataFrame(d)
df

   a  b  c  d  e
0  3  5  5  1  2
1  0  1  2  9  8
2  5  3  5  6  6
3  2  1  4  9  7
4  9  4  4  3  0
5  3  8  7  6  5
6  7  8  7  5  4
7  7  2  3  2  9

In [32]:
df['b']

0    5
1    1
2    3
3    1
4    4
5    8
6    8
7    2
Name: b, dtype: int32

In [33]:
df['b'][2]

3

In [34]:
df.loc[5]

a    3
b    8
c    7
d    6
e    5
Name: 5, dtype: int32

In [35]:
df.loc[5]['b']

8

In [36]:
df2 = DataFrame(np.arange(25).reshape(5,5))
df2

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24