### Limpiar datos con pandas

In [11]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../ficheros_curso/csv/MARIA.csv", sep=';')
df.head()

,Date,Time,Lat,Lon,Wind,Pressure,Storm Type,Category
0,sep-16,15:00 GMT,12.2,-50.5°,35 mph,1008 mb,Potential Tropical Cyclone,-
1,sep-16,18:00 GMT,11.9,-51.6°,35 mph,1006 mb,Tropical Depression,-
2,sep-16,21:00 GMT,12.3,-52.6°,50 mph,1002 mb,Tropical Storm,-
3,sep-17,00:00 GMT,12.4°,-53.0°,50 mph,1002 mb,Tropical Storm,-
4,sep-17,03:00 GMT,12.5°,-53.7°,50 mph,1002 mb,Tropical Storm,-

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         120 non-null    object
 1   Time         120 non-null    object
 2   Lat          120 non-null    object
 3   Lon          120 non-null    object
 4   Wind         120 non-null    object
 5   Pressure     120 non-null    object
 6   Storm Type   120 non-null    object
 7   Category     120 non-null    object
dtypes: object(8)
memory usage: 7.6+ KB

In [5]:
df.columns = [col.strip() for col in df.columns]

In [6]:
df['Lon'] = pd.to_numeric(df.Lon.str[:-1], downcast="float")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        120 non-null    object
 1   Time        120 non-null    object
 2   Lat         120 non-null    object
 3   Lon         120 non-null    float64
 4   Wind        120 non-null    object
 5   Pressure    120 non-null    object
 6   Storm Type  120 non-null    object
 7   Category    120 non-null    object
dtypes: float64(1), object(7)
memory usage: 7.6+ KB

In [8]:
df['Wind'] = pd.to_numeric(df.Wind.str.replace(" mph", ""), downcast="integer")
df['Pressure'] = pd.to_numeric(df.Pressure.str.replace(" mb", ""), downcast="integer")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        120 non-null    object
 1   Time        120 non-null    object
 2   Lat         120 non-null    object
 3   Lon         120 non-null    float64
 4   Wind        120 non-null    int16
 5   Pressure    120 non-null    int16
 6   Storm Type  120 non-null    object
 7   Category    120 non-null    object
dtypes: float64(1), int16(2), object(5)
memory usage: 6.2+ KB

In [10]:
df['Lat'] = pd.to_numeric((df.Lat.str[:-1] if not df.Lat.str.isnumeric() else df.Lat.str[:]), downcast="float")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [13]:
t = np.corrcoef(df.Wind, df.Pressure)
t

array([[ 1.        , -0.95481815],
       [-0.95481815,  1.        ]])

In [17]:
df['date_time'] = pd.to_datetime("2005 " + df.Date + " " + df.Time.str.replace(" GMT", ""), format="%Y %b-%d %H:%M")

In [18]:
df.drop(columns=["Date", "Time"], inplace=True)
df.head()

,Lat,Lon,Wind,Pressure,Storm Type,Category,date_time
0,12.2,-50.5,35,1008,Potential Tropical Cyclone,-,2005-09-16 15:00:00
1,11.9,-51.6,35,1006,Tropical Depression,-,2005-09-16 18:00:00
2,12.3,-52.6,50,1002,Tropical Storm,-,2005-09-16 21:00:00
3,12.4°,-53.0,50,1002,Tropical Storm,-,2005-09-17 00:00:00
4,12.5°,-53.7,50,1002,Tropical Storm,-,2005-09-17 03:00:00